.difficulty{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    overflow: hidden;
    position: relative;
}

.difficulty__logo {
    height: 6rem;
    margin-bottom: 2rem;
}

.difficulty__color-bar {
    height: 16rem;
    margin-left: 8rem;
} 

.difficulty__logo-grey {
    height: 5rem;
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
}

.difficulty__footer {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .button--difficulty {
    color: black;
    background-color: var(--secondary-color) ;
    box-shadow: inset .1rem .1rem .2rem black;
    font-weight: bold;
    font-size: 1.5rem;
    width: 60%;
    height: 3.5rem;
}