.difficulty{
    
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    overflow: hidden;
    position: relative;
}

.difficulty__logo {
    position: absolute;
    top: 3rem;
    height: 6rem;
}

.difficulty__color-bar {
    transform: scale(2) translate(12rem, 6rem);
    z-index: 0;
}

.difficulty__logo-grey {
    height: 4rem;
    margin-top: 2rem;
    margin-left: 6rem;
}

.difficulty__footer {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
}

  .button--difficulty {    
    font-size: 2rem;
    width: 50%;
    height: 3.5rem;
}

@media screen and (min-width: 700px) {    

    .difficulty__logo {
        flex: 0 auto;
        height: 12%;
        margin-top: 10vh;
        margin-right: 16vh
    }

    .difficulty__logo-grey {
        height: 6%;
        margin-right: 32vh;
        margin-top: 20vh;
    }

    .difficulty__color-bar {
        display: none;
    }

    .difficulty__color-div {        
        position: absolute;
        right: 0;
        left: 0;
        height: 25vh;
        transform: skewY(-35deg);
        background: linear-gradient(to bottom,
            #FC7303 14%,  
            #FE5204 14%, 
            #FE5204 28%, 
            #FB0002 28%, 
            #FB0002 42%, 
            #FF055D 42%,
            #FF055D 56%,
            #D70554 56%, 
            #D70554 70%, 
            #9F003F 70%, 
            #9F003F 84%, 
            #6A0230 84%);   
        z-index: 0;
    }

    .difficulty__footer {
        flex: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 36vh;
        margin-left: 20vh;
    }

      .button--difficulty {
        font-size: 3rem;
        min-width: 25rem;
        max-width: 10%;
        height: 4rem;
    }
}

@media screen and (min-width: 1200px) {    

    .difficulty__logo {
        height: 12%;        
        margin-right: 50vh;
    }

    .difficulty__logo-grey {
        height: 8%;
        margin-right: 60vh;
        margin-top: 10vh;
    }

    .difficulty__footer {
        margin-top: 20vh;
        margin-left: 50vh;
    }

}

@media screen and (min-width: 2000px) {    

    .difficulty__logo {
        height: 14%;        
        margin-right: 85vh;
    }

    .difficulty__logo-grey {
        height: 10%;
        margin-right: 70vh;
        margin-top: 18vh;
    }

    .difficulty__footer {
        margin-top: 22vh;
        margin-left: 50vh;
    }

    .button--difficulty {
        font-size: 3rem;
        min-width: 25rem;
        max-width: 20%;
        height: 5rem;

}