@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.scoreboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}

.scoreboard__header {
    box-sizing: border-box;
    margin: 1rem 2rem;
    height: 10%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.scoreboard__logo {
    width: 35%;
}

.scoreboard__title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: .1rem .1rem var(--secondary-color);
    ;}



.scoreboard__color-div {    
    width: 100%;
    height: 8vh;    
    background: linear-gradient(to bottom, 
        #FC7303 14%,  
        #FE5204 14%, 
        #FE5204 28%, 
        #FB0002 28%, 
        #FB0002 42%, 
        #FF055D 42%,
        #FF055D 56%,
        #D70554 56%, 
        #D70554 70%, 
        #9F003F 70%, 
        #9F003F 84%, 
        #6A0230 84%);
}

.scoreboard__results {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    outline: solid 3px var(--secondary-color);
    border-radius: 2rem;
    box-shadow: 0.75rem 0.75rem var(--blue-highlight);;
    background-color: white;
    z-index: 1;
    font-size: 0.7rem;
    font-family: 'Press Start 2P', cursive;
    font: 'Press Start 2P';
}

.player {
    table-layout: fixed;
    text-align: left;
    width: 100%;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

.player__name {
    width: 30%;
}

.player__difficulty {
    width:25%;
}

.player__time {
    padding-left: 1rem;
    width: 45%;
}

.scoreboard__play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 10vh;
    width: 100%;
}

.button--play-again {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    width: 60%;
    height: 3.5rem;
}

.button--play-again:hover {
    text-shadow: 0.1rem 0.1rem var(--yellow-highlight);
    transform: scale(1.1);
}


@media screen and (min-width: 800px) {
    .scoreboard__logo {
        width: 14;
    }
    
    .scoreboard__color-div {
        height: 10vh;
    }

    .scoreboard__title {
        font-size: 4rem;
        font-weight: bold;
        text-shadow: .1rem .1rem var(--secondary-color);
        align-self: center;
    }

    .scoreboard__results {
        font-size: 1.4rem;
        width: 70vw;
    }

    .button--play-again {
        max-width: 30vw;
    }
};